<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restart Project</title>
  </head>
  <body>
    <center>
        <h1>Welcome to Restart Project</h1>
        <div><input id="img" type="file" placeholder="Upload File"/></div>
        <button id="upload" onclick="upload()">Upload</button>
    </center>
    <script>
        const _url = location.href
        const upload = () => {
            const image = document.getElementById("img").files[0]
            let fd = new FormData()
            fd.append("photo", image)
            fetch(`${_url}upload`,{
                method: "POST",
                body: fd
            })
            .then(res=>{return res.json()})
            .then(data=>console.log(data))
            .catch(new Error)
        }
    </script>
  </body>
</html>
